@font-face {
  font-family: Philosopher;
  src: url('/horse-club/fonts/Philosopher-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Philosopher;
  src: url('/horse-club/fonts/Philosopher-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Philosopher;
  src: url('/horse-club/fonts/Philosopher-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Philosopher;
  src: url('/horse-club/fonts/Philosopher-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
